<div class="row">
    <div class="col-12">
        <h1 class="header">Painel de controle - Histórico de integração</h1>
    </div>

    <div class="col-12 col-md-6 p-fluid">
        <app-spinner-loading [isLoading]="this.loadingChartBar"></app-spinner-loading>
        <app-widget-chart-dynamic *ngIf="!this.loadingChartBar" 
            [chartData]="this.chartDataBar"
            [chartType]="this.chartTypeBar"
            [title]="this.titleBar"
            [menuItems]="this.menuItemsBar">
        </app-widget-chart-dynamic>
    </div>

    <div class="col-12 col-md-6 p-fluid">
        <app-spinner-loading [isLoading]="this.loadingChartLine"></app-spinner-loading>
        <app-widget-chart-dynamic *ngIf="!this.loadingChartLine" 
            [chartData]="this.chartDataLine"
            [chartType]="this.chartTypeLine"
            [title]="this.titleLine"
            [menuItems]="this.menuItemsLine">
        </app-widget-chart-dynamic>
    </div>

    <div class="col-12">         
        <mat-card>
            <app-spinner-loading [isLoading]="this.loadinglistLogIntegration"></app-spinner-loading>
            <p-table [value]="this.listLogIntegration" [responsive]="true" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,25,50,100]"  appendTo="body" *ngIf="!this.loadinglistLogIntegration">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 10pc;text-align: center;">Código</th>
                        <th style="text-align: center;">Aplicação</th>
                        <th style="width: 25pc;text-align: center;">Método</th>            
                        <th style="width: 13pc;text-align: center;">Data criação</th>
                        <th style="width: 8pc;text-align: center;">Situação</th>   
                        <th style="width: 8pc;text-align: center;">Versão</th> 
                        <!--<th style="width: 8pc;text-align: center;">Opções</th>-->
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData>
                    <tr>
                        <td style="text-align: center;">{{rowData.idLogIntegration}}</td>
                        <td style="text-align: center;">{{rowData.nmLogIntegrationType}}</td>
                        <td style="text-align: center;">{{rowData.deMethod}}</td>            
                        <td style="text-align: center;">{{this.coreService.formatDatePtBr(rowData.dtCreation)}}</td>                        
                        <td style="text-align: center;" [style.color]="(rowData.isSuccess) ? 'green' : 'red'">
                            {{(rowData.isSuccess) ? 'OK' : 'ERROR'}}
                        </td>    
                        <td style="text-align: center;">{{rowData.nuVersion}}</td>   
                        <!-- <td style="text-align: center;">
                            <button type="button" mat-icon-button [matMenuTriggerFor]="menu">
                                <mat-icon>settings</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button type="button" mat-menu-item >
                                    <mat-icon>edit</mat-icon>
                                    <span>Editar</span>
                                </button>
                                <button type="button" mat-menu-item>
                                    <mat-icon>delete</mat-icon>
                                    <span>Excluir</span>
                                </button>
                            </mat-menu>
                        </td> -->
                    </tr>
                </ng-template>
            </p-table>            
        </mat-card>
    </div>
</div>

<app-log-integration-persistence-model [isOpen]="this.dialogLogIntegration" [data]="null"></app-log-integration-persistence-model>