<mat-card>
    <ul>
        <li #mydiv>
            <p-menu #menu [model]="this.menuItems" [popup]="true" [appendTo]="mydiv" [baseZIndex]="9999"></p-menu>
            <button mat-icon-button (click)="menu.toggle($event)" *ngIf="this.hasBtnMenu">
                <mat-icon>more_vert</mat-icon>
            </button>
        </li>
        <li>            
            <mat-card-title>{{this.title}}</mat-card-title>
        </li>
    </ul>
    <div style="display: block">
        <canvas baseChart 
            [data]="this.chartData" 
            [options]="this.chartOptions" 
            [type]="this.chartType" 
            [plugins]="this.chartPlugins">
        </canvas>
    </div>
</mat-card>